<%- include('./partials/header') %>
<p> 
<h1>Welcome to Super Team Picker</h1>
<p>
<p>Team Picker is old and is in need of a rebuild. Create an Express app with Postgres to store cohorts. Cohorts will have a list of members stored as comma separated names. They'll also have a name and a logo.
<p>
    When visiting a cohort's show page, you will be able to generate teams for that cohort. Below are mockups of every page that you need to build for the application. Use Bootstrap to build it. Try to match the mockups as accurately as possible.</p>

<p>
    <a href="/cohorts/new" class="btn btn-primary text-primary bg-light">Creating New Cohorts</a>

    <a href="/cohorts/" class="btn btn-primary text-primary bg-light">Index to List Cohorts</a>
    


<%- include('./partials/footer') %>