<div class="container m-4, min-height">
<div class="row-12">
<div class="col-12">
<%if @joins.count >0%>
<h1>Members that have joined this idea:</h1>
<ol>
    <%@joins.each do |join|%>
    <li>
        <p><%= join.full_name%></p>
    </li>
    <%end%>
<ol>
<%else%>
<h1>No one has joined this idea</h1>
<%end%>
</div>
</div>
</div>